doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='description', content='Доска объявлений — современный веб-сайт, упрощающий продажу или покупку абсолютно любых вещей.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Куплю Продам
    link(rel='stylesheet', href='css/style.min.css')
  body
    header.header.header--logged
      .header__wrapper
        a.header__logo.logo(href='main.html')
          img(src='img/logo.svg', width='179', height='34', alt='Логотип Куплю Продам')
        nav.header__user-menu
          ul.header__list
            li.header__item
              a(href='my-tickets.html') Публикации
            li.header__item.header__item--active
              a Комментарии
        form.search(method='get', action='#', autocomplete='off')
          input(type='search', name='search', placeholder='Поиск', aria-label='Поиск')
          .search__icon
          .search__close-btn
        a.header__avatar.avatar(href='#')
          img(src='img/avatar.jpg', srcset='img/avatar@2x.jpg 2x', alt='Аватар пользователя')
        a.header__input(href='ticket-form.html') Вход и регистрация
    main.page-content
      section.comments
        .comments__wrapper
          h1.visually-hidden Страница комментариев
          .comments__block
            .comments__header
              a.announce-card(href='#')
                h2.announce-card__title Ленд Ровер
                span.announce-card__info
                  span.announce-card__price ₽ 900 000
                  span.announce-card__type ПРОДАМ
            ul.comments-list
              li.js-card
                .comment-card
                  .comment-card__header
                    a.comment-card__avatar.avatar(href='#')
                      img(src='img/avatar03.jpg', srcset='img/avatar03@2x.jpg 2x', alt='Аватар пользователя')
                    p.comment-card__author Александр Бурый
                  .comment-card__content
                    p
                      | А что с прогоном автомобиля? Также вижу на фото зимнюю резину. А летняя идет ли впридачу?
                  button.comment-card__delete.js-delete(type='button') Удалить
              li.js-card
                .comment-card
                  .comment-card__header
                    a.comment-card__avatar.avatar(href='#')
                      img(src='img/avatar04.jpg', srcset='img/avatar04@2x.jpg 2x', alt='Аватар пользователя')
                    p.comment-card__author Анатолий Хакимов
                  .comment-card__content
                    p Хочу прийти посмотреть на авто в среду. Мой телефон 89254455566. Готовы принять?
                  button.comment-card__delete.js-delete(type='button') Удалить
              li.js-card
                .comment-card
                  .comment-card__header
                    a.comment-card__avatar.avatar(href='#')
                      img(src='img/avatar02.jpg', srcset='img/avatar02@2x.jpg 2x', alt='Аватар пользователя')
                    p.comment-card__author Георгий Шпиц
                  .comment-card__content
                    p Что это за рухлядь? Стыдно такое даже фотографировать, не то, что продавать.
                  button.comment-card__delete.js-delete(type='button') Удалить
          .comments__block
            .comments__header
              a.announce-card(href='#')
                h2.announce-card__title Ableton
                span.announce-card__info
                  span.announce-card__price ₽ 900 000
                  span.announce-card__type ПРОДАМ
            ul.comments-list
              li.js-card
                .comment-card
                  .comment-card__header
                    a.comment-card__avatar.avatar(href='#')
                      img(src='img/avatar03.jpg', srcset='img/avatar03@2x.jpg 2x', alt='Аватар пользователя')
                    p.comment-card__author Александр Бурый
                  .comment-card__content
                    p
                      | А что с прогоном автомобиля? Также вижу на фото зимнюю резину. А летняя идет ли впридачу?
                  button.comment-card__delete.js-delete(type='button') Удалить
              li.js-card
                .comment-card
                  .comment-card__header
                    a.comment-card__avatar.avatar(href='#')
                      img(src='img/avatar04.jpg', srcset='img/avatar04@2x.jpg 2x', alt='Аватар пользователя')
                    p.comment-card__author Анатолий Хакимов
                  .comment-card__content
                    p Хочу прийти посмотреть на авто в среду. Мой телефон 89254455566. Готовы принять?
                  button.comment-card__delete.js-delete(type='button') Удалить
              li.js-card
                .comment-card
                  .comment-card__header
                    a.comment-card__avatar.avatar(href='#')
                      img(src='img/avatar02.jpg', srcset='img/avatar02@2x.jpg 2x', alt='Аватар пользователя')
                    p.comment-card__author Георгий Шпиц
                  .comment-card__content
                    p Что это за рухлядь? Стыдно такое даже фотографировать, не то, что продавать.
                  button.comment-card__delete.js-delete(type='button') Удалить
    footer.page-footer
      .page-footer__wrapper
        .page-footer__col
          a.page-footer__logo-academy(href='#', aria-label='Ссылка на сайт HTML-Академии')
            svg(width='132', height='46')
              use(xlink:href='img/sprite_auto.svg#logo-htmlac')
          p.page-footer__copyright © 2019 Проект Академии
        .page-footer__col
          a.page-footer__logo.logo(href='#')
            img(src='img/logo.svg', width='179', height='35', alt='Логотип Куплю Продам')
        .page-footer__col
          ul.page-footer__nav
            li
              a(href='ticket-form.html') Вход и регистрация
            li
              a(href='ticket-form.html') Создать объявление
    script(src='js/vendor.js')
    script(src='js/main.js')
