doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='description', content='Доска объявлений — современный веб-сайт, упрощающий продажу или покупку абсолютно любых вещей.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Куплю Продам
    link(rel='stylesheet', href='css/style.min.css')
  body
    header.header
      .header__wrapper
        a.header__logo.logo(href='main.html')
          img(src='img/logo.svg', width='179', height='34', alt='Логотип Куплю Продам')
        nav.header__user-menu
          ul.header__list
            li.header__item
              a(href='my-tickets.html') Публикации
            li.header__item
              a(href='comments.html') Комментарии
        form.search(method='get', action='#', autocomplete='off')
          input(type='search', name='search', placeholder='Поиск', value='Автомобиль', aria-label='Поиск')
          .search__icon
          .search__close-btn
        a.header__avatar.avatar(href='#')
          img(src='img/avatar.jpg', srcset='img/avatar@2x.jpg 2x', alt='Аватар пользователя')
        a.header__input(href='sign-up.html') Вход и регистрация
    main.page-content
      section.search-results
        h1.visually-hidden Результаты поиска
        .search-results__wrapper
          p.search-results__label
            | Найдено 
            span.js-results 2 публикации
          ul.search-results__list
            li.search-results__item
              .ticket-card.ticket-card--color05
                .ticket-card__img
                  img(src='img/item05.jpg', srcset='img/item05@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label ПРОДАМ
                  .ticket-card__categories
                    a(href='#') Авто
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Ленд Ровер
                    p.ticket-card__price
                      span.js-sum 900 000
                      |  ₽
                  .ticket-card__desc
                    p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
            li.search-results__item
              .ticket-card.ticket-card--color16
                .ticket-card__img
                  img(src='img/item16.jpg', srcset='img/item16@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label ПРОДАМ
                  .ticket-card__categories
                    a(href='#') Авто
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Хонда
                    p.ticket-card__price
                      span.js-sum 100 000
                      |  ₽
                  .ticket-card__desc
                    p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
      section.tickets-list
        h2.visually-hidden Самые новые предложения
        .tickets-list__wrapper
          .tickets-list__header
            p.tickets-list__title Самое свежее
            a.tickets-list__link(href='#') Еще 25
          ul
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  img(src='img/item01.jpg', srcset='img/item01@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label Куплю
                  .ticket-card__categories
                    a(href='#') Дом
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Монстера
                    p.ticket-card__price
                      span.js-sum 1000
                      |  ₽
                  .ticket-card__desc
                    p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
            li.tickets-list__item
              .ticket-card.ticket-card--color02
                .ticket-card__img
                  img(src='img/item02.jpg', srcset='img/item02@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label ПРОДАМ
                  .ticket-card__categories
                    a(href='#') Дом
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Мое старое кресло
                    p.ticket-card__price
                      span.js-sum 4000
                      |  ₽
                  .ticket-card__desc
                    p Продам свое старое кресло, чтобы сидеть и читать книги зимними...
            li.tickets-list__item
              .ticket-card.ticket-card--color03
                .ticket-card__img
                  img(src='img/item03.jpg', srcset='img/item03@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label ПРОДАМ
                  .ticket-card__categories
                    a(href='#') ЭЛЕКТРОНИКА
                    a(href='#') Дом
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Дедушкины часы
                    p.ticket-card__price
                      span.js-sum 45 000
                      |  ₽
                  .ticket-card__desc
                    p Продаю дедушкины часы в прекрасном состоянии, ходят до...
            li.tickets-list__item
              .ticket-card.ticket-card--color04
                .ticket-card__img
                  img(src='img/item04.jpg', srcset='img/item04@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label Куплю
                  .ticket-card__categories
                    a(href='#') Дом
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Кофеварка
                    p.ticket-card__price
                      span.js-sum 2000
                      |  ₽
                  .ticket-card__desc
                    p Куплю вот такую итальянскую кофеварку, можно любой фирмы...
            li.tickets-list__item
              .ticket-card.ticket-card--color05
                .ticket-card__img
                  img(src='img/item05.jpg', srcset='img/item05@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label ПРОДАМ
                  .ticket-card__categories
                    a(href='#') Авто
                    a(href='#') ЭЛЕКТРОНИКА
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Ленд Ровер
                    p.ticket-card__price
                      span.js-sum 900 000
                      |  ₽
                  .ticket-card__desc
                    p Куплю монстеру зеленую в хорошем зеленом состоянии, буду поливать...
            li.tickets-list__item
              .ticket-card.ticket-card--color06
                .ticket-card__img
                  img(src='img/item06.jpg', srcset='img/item06@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label ПРОДАМ
                  .ticket-card__categories
                    a(href='#') ЭЛЕКТРОНИКА
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Ableton
                    p.ticket-card__price
                      span.js-sum 88 000
                      |  ₽
                  .ticket-card__desc
                    p Продам свое старое кресло, чтобы сидеть и читать книги зимними...
            li.tickets-list__item
              .ticket-card.ticket-card--color07
                .ticket-card__img
                  img(src='img/item07.jpg', srcset='img/item07@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label ПРОДАМ
                  .ticket-card__categories
                    a(href='#') Спорт и отдых
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Доска
                    p.ticket-card__price
                      span.js-sum 55 000
                      |  ₽
                  .ticket-card__desc
                    p Продаю дедушкины часы в прекрасном состоянии, ходят до...
            li.tickets-list__item
              .ticket-card.ticket-card--color08
                .ticket-card__img
                  img(src='img/item08.jpg', srcset='img/item08@2x.jpg 2x', alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label Куплю
                  .ticket-card__categories
                    a(href='#') ЭЛЕКТРОНИКА
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='#') Фотик Canon
                    p.ticket-card__price
                      span.js-sum 32 000
                      |  ₽
                  .ticket-card__desc
                    p Куплю вот такую итальянскую кофеварку, можно любой фирмы...
    footer.page-footer
      .page-footer__wrapper
        .page-footer__col
          a.page-footer__logo-academy(href='#', aria-label='Ссылка на сайт HTML-Академии')
            svg(width='132', height='46')
              use(xlink:href='img/sprite_auto.svg#logo-htmlac')
          p.page-footer__copyright © 2019 Проект Академии
        .page-footer__col
          a.page-footer__logo.logo(href='#')
            img(src='img/logo.svg', width='179', height='35', alt='Логотип Куплю Продам')
        .page-footer__col
          ul.page-footer__nav
            li
              a(href='sign-up.html') Вход и регистрация
            li
              a(href='new-ticket.html') Создать объявление
    script(src='js/vendor.js')
    script(src='js/main.js')
