doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='description', content='Доска объявлений — современный веб-сайт, упрощающий продажу или покупку абсолютно любых вещей.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Куплю Продам
    link(rel='stylesheet', href='css/style.min.css')
  body
    header.header
      .header__wrapper
        a.header__logo.logo(href='main.html')
          img(src='img/logo.svg', width='179', height='34', alt='Логотип Куплю Продам')
        nav.header__user-menu
          ul.header__list
            li.header__item
              a(href='my-tickets.html') Публикации
            li.header__item
              a(href='comments.html') Комментарии
        form.search(method='get', action='#', autocomplete='off')
          input(type='search', name='search', placeholder='Поиск', aria-label='Поиск')
          .search__icon
          .search__close-btn
        a.header__avatar.avatar(href='#')
          img(src='img/avatar.jpg', srcset='img/avatar@2x.jpg 2x', alt='Аватар пользователя')
        a.header__input(href='sign-up.html') Вход и регистрация
    main.page-content
      section.sign-up
        form.sign-up__form.form(action='#', method='post', enctype='multipart/form-data', autocomplete='off')
          .sign-up__title
            h2 Регистрация
            a.sign-up__link(href='login.html') Вход
          .sign-up__avatar-container.js-preview-container
            .sign-up__avatar.js-preview
            .sign-up__field-avatar
              input#avatar.visually-hidden.js-file-field(type='file', name='avatar')
              label(for='avatar')
                span.sign-up__text-upload Загрузить аватар…
                span.sign-up__text-another Загрузить другой аватар…
          .form__field.sign-up__field
            input#user-name.js-field(type='text', name='user-name', required='')
            label(for='user-name') Имя и фамилия
            span Обязательное поле
          .form__field.sign-up__field
            input#user-email.js-field(type='email', name='user-email', required='')
            label(for='user-email') Эл. почта
            span Обязательное поле
          .form__field.sign-up__field
            input#user-password.js-field(type='password', name='user-password', required='')
            label(for='user-password') Пароль
            span Обязательное поле
          .form__field.sign-up__field
            input#user-password-again.js-field(type='password', name='user-password-again', required='')
            label(for='user-password-again') Пароль еще раз
            span Обязательное поле
          button.sign-up__button.btn.btn--medium.js-button(type='submit', disabled='') Создать аккаунт
    footer.page-footer
      .page-footer__wrapper
        .page-footer__col
          a.page-footer__logo-academy(href='#', aria-label='Ссылка на сайт HTML-Академии')
            svg(width='132', height='46')
              use(xlink:href='img/sprite_auto.svg#logo-htmlac')
          p.page-footer__copyright © 2019 Проект Академии
        .page-footer__col
          a.page-footer__logo.logo(href='#')
            img(src='img/logo.svg', width='179', height='35', alt='Логотип Куплю Продам')
        .page-footer__col
          ul.page-footer__nav
            li
              a(href='sign-up.html') Вход и регистрация
            li
              a(href='new-ticket.html') Создать объявление
    script(src='js/vendor.js')
    script(src='js/main.js')
